<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - Bandana's Kitchen</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <h1>Our Menu</h1>
    <p>Freshly Prepared Homemade Delicacies</p>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/menu">Menu</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</nav>

<div class="menu">

    
    
    <div class="card">
        <img src="{{ url_for('static', filename='images/prawn.jpg') }}" alt="Prawn Malaikari">
        <h3>Prawn Malaikari</h3>

        <p class="description">
        Subtly spiced, intensely aromatic and completely irresistible.
        </p>

        <p class="price">₹399</p>

         <a href="https://wa.me/9432162614?text=Hello%20I%20want%20to%20order"
            class="order-btn">
            Order on WhatsApp
        </a>
    </div>

    <div class="card">
        <img src="{{ url_for('static', filename='images/begunbahar.jpg') }}" alt="Begun Bahar">
        <h3>Begun Bahar</h3>

        <p class="description">
        A traditional, rich Bengali eggplant(brinjal) dish. 
        </p>

        <p class="price">₹89</p>

         <a href="https://wa.me/9432162614?text=Hello%20I%20want%20to%20order"
            class="order-btn">
            Order on WhatsApp
        </a>
    </div>

     <div class="card">
        <img src="{{ url_for('static', filename='images/begunbahar.jpg') }}" alt="Begun Bahar">
        <h3>Begun Bahar</h3>

        <p class="description">
        A traditional, rich Bengali eggplant(brinjal) dish. 
        </p>

        <p class="price">₹89</p>

         <a href="https://wa.me/9432162614?text=Hello%20I%20want%20to%20order"
            class="order-btn">
            Order on WhatsApp
        </a>

    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images/chholebature.jpg') }}" alt="Chhole Bhature">
        <h3>Chhole Bhature</h3>

        <p class="description">
        A popular North Indian dish combining spicy chickpea curry (chole) with deep-fried, fluffy bread (bhature), often enjoyed as a hearty breakfast or street food.
        </p>

        <p class="price">₹99</p>

        <a href="https://wa.me/9432162614?text=Hello%20I%20want%20to%20order%20Chhole%20Bhature"
            class="order-btn">
            Order on WhatsApp
        </a>
    </div>

    <div class="card">
        <img src="{{ url_for('static', filename='images/mutton.jpg') }}" alt="Mutton Kosha">
        <h3>Mutton Kosha</h3>

        <p class="description">
        Traditional Bengali-style slow-cooked mutton with rich spices.
        </p>

        <p class="price">₹399</p>

        <a href="https://wa.me/9432162614?text=Hello%20I%20want%20to%20order%20Mutton%20Kosha"
            class="order-btn">
            Order on WhatsApp
        </a>
    </div>

    <div class="card">
        <img src="{{ url_for('static', filename='images/chalerrutihasermangso.jpg') }}" alt="Chaler Ruti & Haser Mangso">
        <h3>Chaler Ruti & Haser Mangso</h3>

        <p class="description">
        A traditional Bengali dish featuring soft, fluffy bread (chaler ruti) served with Duck curry (haser mangso) cooked in a rich, flavorful gravy.
        </p>

        <p class="price">₹399</p>

        <a href="https://wa.me/9432162614?text=Hello%20I%20want%20to%20order%20Chaler%20Ruti%20&%20Haser%20Mangso"
            class="order-btn">
            Order on WhatsApp
        </a>
    </div>

    <div class="card">
        <img src="{{ url_for('static', filename='images/payesh.jpg') }}" alt="Payesh">
        <h3>Payesh</h3>

        <p class="description">
        Traditional Bengali rice pudding with milk and jaggery.
        </p>

        <p class="price">₹99</p>

         <a href="https://wa.me/9432162614?text=Hello%20I%20want%20to%20order%20payesh"
            class="order-btn">
            Order on WhatsApp
        </a>
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images/rich_Dry_Fruit_Cake.jpg') }}" alt="Rich Dry Fruit Cake">
        <h3>Rich Dry Fruit Cake</h3>

        <p class="description">
        Loaded with premium dry fruits and baked fresh for special occasions.
        </p>

        <p class="price">₹540</p>

         <a href="https://wa.me/9432162614?text=Hello%20I%20want%20to%20order%20Rich%20Dry%20Fruit%20Cake"
            class="order-btn">
            Order on WhatsApp
        </a>
    </div>

    <div class="card">
        <img src="{{ url_for('static', filename='images/cheesecake.jpg') }}" alt="Strawberry Cheesecake">
        <h3>Strawberry Cheesecake</h3>

        <p class="description">
        A delicious blend of creamy cheesecake and fresh strawberry compote.
        </p>

        <p class="price">₹350</p>

        <a href="https://wa.me/9432162614?text=Hello%20I%20want%20to%20order%20Strawberry%20Cheesecake"
            class="order-btn">
            Order on WhatsApp
        </a>
    </div>

</div>

</body>
</html>